<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Data Table</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- DataTables CSS -->
  <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Criminals</h2>
    <table id="registrationTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Photo</th>
          <th>identification</th>
          <th>dob</th>
          <th>Offense</th>
          <th>height</th>
            <th>weight</th>
            <th>gender</th>
            <th>Phoneno</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
      {% for i in data %}
        <!-- Sample Data Row -->
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ i.criminalname }}</td>
          <td><img src="{{ i.photo }}" class="img-thumbnail" width="50" /></td>
          <td>{{ i.identification }}</td>
          <td>{{ i.dob }}</td>
          <td>{{ i.offense }}</td>
          <td>{{ i.height }}</td>
            <td>{{ i.weight }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.phoneno }}</td>
            <td><a href="" class="btn btn-danger">edit</a></td>
            <td><a href="/myapp/delete_criminal/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a></td>
        </tr>
      {% endfor %}
        <!-- Add more rows dynamically from backend -->
      </tbody>
    </table>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#registrationTable').DataTable();
    });
  </script>
</body>
</html>
